
.product_list{
    align-self: center;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
    padding: 2%;
}
.page_name {
    text-align: center;
  
    margin: 20px;
    color: #1E212C;
}
.product-item {
    width: 30%;
    margin-left: 20px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    
}


.product-item-link{
    display: block;
    padding: 2px;
    margin-bottom: 10px;
    

}
.product-title {
    width: 100%;
    margin-bottom: 20px;
    color: #1E212C;
}
.product-image {
    width: 100%;
    margin-bottom: 20px;
}
.product-price {
    margin-bottom: 20px;
    text-transform: uppercase;
    color: #1E212C;
    font-weight: 700;
}
.product-description {
    margin-bottom: 20px;
}
.buy , .delete {
    padding: 2%;
    border: 1px solid #17696A;
    cursor: pointer;
    background-color: #17696A;
    color: bisque;
    font-size: 14px;
    line-height: 30px;
    transition: all 0.5s;
}
.basket{
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.product-item-cart {
    
    display: flex;
    justify-content: center;
    width: 80%;
    margin: 20px;
}
.cart-image {
    margin-right: 20px;
}
.product-image-cart{
    width: 150px;
} 
.order-item {
    width: 80%;
    display: flex;
    margin-bottom: 20px;
}
.order-product-image {
    width: 150px;
    margin-right: 20px;
}
.checkout {
    padding: 1%;
    border: 1px solid #17696A;
    background-color: #17696A;
    color: bisque;
    cursor: pointer;
    transition: all 0.5s;
}
.buy:hover , .delete:hover, .checkout:hover {
    background-color: #fff;
    color: #17696A;
   
}