@import url(../../fonts/iconFont/style.css);
@import url(catalog.css);
*{
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}
.header {
    background-color: #000;
    width: 100vw;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

}

.header_right{
    display: flex;
} 
a {
    text-decoration: none;
}
.menu-link {
    color: bisque;
    margin: 20px;
}
.icon-user, .icon-user-check, .icon-user-tie, .icon-cart {
   font-size: 30px;
}
.logout {
    color: coral;
}
.registr-form {
    display: flex;
    flex-direction: column;
    width: 25vw;
}